body {
	background-color: white;
	padding: 0;
	border: 0;
	margin: 0px;
}

nav{
	width: 100px; height: 100px;
	/* border: 1px solid black; */
	position: fixed;
	right: 20px; top: 50px;
	font-family: arial;
}

.squarebox {
	width: 150px; height: 150px;
	margin: 90px;
	border: black solid 1px;
	display: inline-block;
}

.shortbox{
	width: 250px; height: 150px;
	margin: 40px 200px 140px 500px;
	border: black solid 1px;
	display: inline-block;
}

.tallbox{
	width: 190px; height: 250px;
	margin: 100px 140px 50px 90px;
	border: black solid 1px;
	display: inline-block;
}

.smolbox{
	width: 90px; height: 100px;
	margin: 40px 100px 20px 300px;
	border: black solid 1px;
	display: inline-block;
}

img{
	/* transform: scale(.5,.5); */
	display: inline-block;
	margin: -10px;
	width: auto; height: 120%;
	z-index: -1;
}

h1{
	font-family: arial;
	font-size: 10px;
	font-weight: normal;
	margin: 5px 5px 0px 5px;
}

.menu{
	width: 100px; height: 200px;
	border: 1px black solid;
	background-color: white;
	z-index: 1;
}

#enter{
	font-family: arial;
	font-size: 30px;
	font-weight: bold;
	position: fixed;
	left: 39%; top: 43%;
}

/* ACTIONS */

.squareclick{
	width: 300px; height: 300px;
}

.shortclick{
	width: 500px; height: 300px;
}

.tallclick{
	width: 300px; height: 500px;
}

.smolclick{
	width: 100px; height: 160px;
}

/* 
@media (min-height: 300px){
	body{
		background: #F5BA9D;
		transition: 5s;
		}
}
		
@media (max-width: 600px){
	body{
		background: #98BA7D;
		transition: 5s;
	}
}
		
@media (max-height: 600px){
	body{
		background: #FFDA8A;
		transition: 5s;
	}
}
 */

